html, 
body,
*   { 
    
    box-sizing: border-box;
    padding: 0; 
    margin: 0;
    font-size: 62.5%;
    font-family: 'Black Ops One', cursive;
    align-items: center;
    text-align: center;
    
    
}
html {

    background: #262626;
}
.parent { 
    align-items: center;
    box-sizing: border-box;
    font-size: 10px;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    

}

@media  screen and (max-width) {
    
}
.child { 
    border: solid black .5rem;
    padding: 2rem;
    border-radius: 3rem;
    margin: 3rem;
    text-align: center; 
    font-size: 5rem;
    background-color: white;
    transition: all .3s;
    animation-name: flash;
    animation-duration: 3s;
    animation-iteration-count: infinite;

}

@keyframes flash {
    from {box-shadow:5px 5px 2px 1px black, 10px 10px 100px     white;}
    to {box-shadow:5px 5px 2px 1px black,  10px 10px 100px     black;}
}

.child:hover {
    border: .5rem dotted #ff7a59;
    color: #ff7a59;
    padding: 5rem;
}

#img { 
    width: 30rem;
    
}



button:before {
    content: 
}
button {
    font-size: 2rem;
    height: auto;
    border: .1rem solid #ff7a59;
    padding: 2rem;
    border-radius: 3rem;
    text-align: center;
    background-color: black;  
}

button:hover { 
    background-color: white;
    padding: 2.5rem;
    transition-duration: .5s;
    color: #ffee10;
    box-shadow: 0 0 5rem #ffee10;
    text-shadow: 0 0 5rem #ffee10;
}

#youtube {
    background-color: red;
    

}

h1  {
    font-size: 5rem;
    text-align: center;
    margin: 3rem auto;
    font-weight: 300;

}

h3  {
    font-size: 1.5rem;
    text-align: center;
    margin: 2rem auto;  
}
h2 {
    font-style: italic;
    font-size: 1.5rem;
}

.dropbtn {
    background-color: white;
    color: black;
    padding: 2rem;
    font-size: 2rem;
    align-self: auto;

}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.socials { 
    display: none;
    position: absolute;
    max-width: 2rem;
    z-index: 1;
}
.dropdown:hover .socials {display: flex;
    flex-direction: row;
}
    