html, 
body,
*   { 
    box-sizing: border-box;
    padding: 0; 
    margin: 0;
    font-size: 62.5%;
    background-color: bisque;
    
}

.parent { 
    align-items: center;
    box-sizing: border-box;
    font-size: 10px;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;

    
}

.child { 
    box-sizing: border-box;
    border: solid rgb(247, 218, 183) 1rem;
    padding: 1rem;
    border-radius: 3rem;
    margin: 2rem;
    text-align: center;
    font-size: 5rem


}
#img { 
    width: 50rem;
    
}

p, h1 {     
    font-style: italic;
}

h1 {
    font-size: 10rem;
    text-align: center;
}